.board {
  height: 90vh;
  width: 45vw;
  background-color: snow;
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  justify-content: center;
}

.board-header > .header-title {
  margin: 1rem 0;
}

.board > .board-body {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.text-area {
  height: 3rem;
  font-size: x-large;
  padding-left: 1rem;
  cursor: grab;
}

.draggable {
  touch-action: none;
  user-select: none;
}
