* {
  margin: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: silver;
  position: relative;
}

.App-body {
  display: flex;
}

.svg-arrow {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}
